name: Docker Build & Publish

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: docker login -u "${{ secrets.DOCKER_USERNAME }}" -p "${{ secrets.DOCKER_PASSWORD }}"

      - name: Build Docker Image
        run: docker build -t hermosa0404/611-store-api:${{ github.sha }} .

      - name: Tag Latest
        run: docker tag hermosa0404/611-store-api:${{ github.sha }} hermosa0404/611-store-api:latest

      - name: Push Docker Image
        run: |
          docker push hermosa0404/611-store-api:${{ github.sha }}
          docker push hermosa0404/611-store-api:latest
  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to AWS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull hermosa0404/611-store-api:latest
            cd containers
            docker compose up -d